:root {
  --tmave-modra: rgb(22, 96, 136);
  --svetle-modra: rgb(112, 228, 239);
  --card-background: rgb(40, 44, 58);
  --transition-value: 3px;
  --transition-time: 0.3s;
  --background-color: rgb(16, 20, 35);
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(
    90deg,
    rgba(112, 228, 239, 1) 10%,
    rgba(22, 96, 136) 80%
  );
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

.topnav {
  overflow: hidden;
}

.topnav ul {
  list-style-type: none;
  overflow: hidden;
  vertical-align: bottom;
  top: 30px;
  width: 90%;
  height: 145px;
}

.topnav li {
  float: right;
}

.topnav li:last-child {
  border-right: none;
  float: left;
  padding: 10px 20px;
  margin: 15px 15px;
}

.topnav li button {
  position: relative;
  display: block;
  color: var(--cerna);
  text-align: center;
  text-decoration: none;
  background-color: var(--svetle-modra);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 15px 15px;
  cursor: pointer;
  border-radius: 16px;
}

.topnav li button:hover {
  color: aliceblue;
  background-color: black;
  transform: translateY(-var(--transition-value));
  transition: var(--transition-time);
}

.topnav li button:not(:hover) {
  color: black;
  background-color: var(--svetle-modra);
  transform: translateY(var(--transition-value));
  transition: var(--transition-time);
}

.dropdown-support {
  position: relative;
  display: inline-block;
}

.dropdown-content-support {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9 !important;
}

.dropdown-content-support a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-signin {
  position: relative;
  display: inline-block;
}

.dropdown-content-signin {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9 !important;
}

.dropdown-content-signin a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.introduction-container {
  margin: 150px 70px;
}

.introduction-container h1 {
  font: sans-serif;
  font-size: 500%;
}

.introduction-container h2 {
  font: sans-serif;
  font-size: 200%;
}

.introduction-buttons a {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 15px 15px;
  cursor: pointer;
  border-radius: 16px;
}

.introduction-buttons a:hover {
  color: aliceblue;
  background-color: var(--tmave-modra);
  transform: translateY(-var(--transition-value));
  transition: var(--transition-time);
}

.introduction-buttons a:not(:hover) {
  color: var(--svetle-modra);
  background-color: black;
  transform: translateY(var(--transition-value));
  transition: var(--transition-time);
}

.bg-plans {
  width: device-width;
  height: 1650px;
  background-color: var(--background-color);
}
.plans-header-container h1 {
  position: relative;
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  top: 65px;
  text-decoration-line: underline;
}

.plans-container {
  margin-left: 10%;
}

.plans-table {
  width: 100%;
}

.card {
  position: relative;
  top: 50px;
  background-color: var(--card-background);
  border-radius: 16px;
  height: 270px;
  width: 50%;
}

.card h3,
.card h2,
.card h1 {
  position: relative;
  top: 15px;
  color: aliceblue;
  padding-left: 6%;
}

.card:hover {
  transform: translateY(-var(--transition-value));
  transition: var(--transition-time);
}

.card:not(:hover) {
  transform: translateY(var(--transition-value));
  transition: var(--transition-time);
}

.card button {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 15%;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 16px;
  width: 70%;
  font-size: 120%;
}

.card button:hover {
  color: aliceblue;
  background-color: var(--tmave-modra);
  transform: translateY(-var(--transition-value));
  transition: var(--transition-time);
}

.card button:not(:hover) {
  color: black;
  background-color: var(--svetle-modra);
  transform: translateY(var(--transition-value));
  transition: var(--transition-time);
}

.offered-advantages-container table {
  margin-left: auto;
  margin-right: auto;
}

.offered-advantages-container h3 {
  position: relative;
  text-align: center;
  top: 100px;
  font-size: 30px;
  color: aliceblue;
}

.advantage-text {
  position: relative;
  top: 100px;
  color: aliceblue;
  font-size: +20px;
}

.chat-with-us-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 200px;
  background-color: var(--card-background);
  border-radius: 16px;
  height: 200px;
  width: 70%;
}

.chat-with-us {
  height: 200px;
  width: 100%;
}

.chat-with-us h1 {
  position: relative;
  font-size: 65px;
  background: radial-gradient(var(--svetle-modra) 0%, var(--tmave-modra) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 20px;
}

.chat-with-us p {
  top: 0;
  color: aliceblue;
  font-size: 25px;
}

.chat-with-us .heading {
  width: 35%;
}

.chat-with-us .button {
  width: 20%;
}

.chat-with-us button {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 16px;
  width: 80%;
  font-size: 130%;
}

.chat-with-us button:hover {
  color: aliceblue;
  background-color: var(--tmave-modra);
  transform: translateY(-var(--transition-value));
  transition: var(--transition-time);
}

.chat-with-us button:not(:hover) {
  color: black;
  background-color: var(--svetle-modra);
  transform: translateY(var(--transition-value));
  transition: var(--transition-time);
}

.footer {
  clear: both;
  position: relative;
  width: 100%;
  background-color: black;
  color: aliceblue;
  height: 250px;
}

.footer-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-text h3 {
  color: var(--svetle-modra);
}

.footer a {
  color: aliceblue;
  text-decoration: none;
  margin-top: 3%;
}

.signin-container {
  position: relative;
  top: 50px;
  margin: auto;
  height: 370px;
  width: 15%;
  background-color: var(--background-color);
  text-align: center;
  border-radius: 25px;
}

.whitespace {
  height: 110px;
}

.signin-container form {
  position: relative;
  color: aliceblue;
  top: 20px;
}

.signin-container input[type="text"],
.signin-container input[type="password"] {
  width: 80%;
  height: 20px;
  border-radius: 6px;
}

.signin-container input[type="text"]:focus,
.signin-container input[type="password"]:focus {
  transition: var(--transition-time);
  background-color: var(--svetle-modra);
}

.signin-container input[type="text"]:not(:focus),
.signin-container input[type="password"]:not(:focus) {
  transition: var(--transition-time);
  background-color: aliceblue;
}

.signin-container input[type="submit"] {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
  cursor: pointer;
  border-radius: 16px;
  width: 50%;
  font-size: 130%;
}

.signin-container input[type="submit"]:hover {
  background-color: black;
  color: aliceblue;
  transition: var(--transition-time);
}

.signin-container input[type="submit"]:not(:hover) {
  background-color: aliceblue;
  color: black;
  transition: var(--transition-time);
}

.signin-container a {
  color: var(--svetle-modra);
}

.register-container {
  color: aliceblue;
  position: relative;
  top: 50px;
  margin: auto;
  height: 800px;
  width: 40%;
  background-color: var(--card-background);
  border-radius: 25px;
}

.register-container h1 {
  position: relative;
  top: 15px;
  text-align: center;
}

.register-table {
  padding-left: 70px;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.register-table input[type="text"],
.register-table input[type="password"],
.register-table input[type="number"],
.register-table select {
  min-width: 250px;
  border-radius: 6px;
}

.register-table input[type="text"]:focus,
.register-table input[type="password"]:focus,
.register-table input[type="number"]:focus {
  background-color: var(--svetle-modra);
  transition: var(--transition-time);
}

.register-table input[type="text"]:not(:focus),
.register-table input[type="password"]:not(:focus),
.register-table input[type="number"]:not(:focus) {
  background-color: aliceblue;
  transition: var(--transition-time);
}

.register-container input[type="submit"] {
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50%;
  cursor: pointer;
  border-radius: 16px;
  width: 100%;
  font-size: 130%;
}

.register-container input[type="submit"]:hover {
  background-color: black;
  color: aliceblue;
  transition: var(--transition-time);
}

.register-container input[type="submit"]:not(:hover) {
  background-color: aliceblue;
  color: black;
  transition: var(--transition-time);
}

.register-container a {
  color: var(--svetle-modra);
}

.register-container .registered {
  text-align: center;
}

.registered input[type="checkbox"] {
  accent-color: var(--svetle-modra);
}

#first-name-empty,
#last-name-empty,
#email-empty,
#street-address-empty,
#city-empty,
#postcode-empty,
#country-empty,
#password-empty,
#confirm-password-no-match {
  color: transparent;
}

.reset-pw-container {
  position: relative;
  margin: auto;
  height: 500px;
  width: 15%;
  background-color: var(--background-color);
  text-align: center;
  border-radius: 25px;
}

.reset-pw-container form {
  position: relative;
  color: aliceblue;
  top: 10px;
}

.reset-pw-container input[type="text"],
.reset-pw-container input[type="password"] {
  width: 80%;
  height: 20px;
  border-radius: 6px;
}

.reset-pw-container input[type="text"]:focus,
.reset-pw-container input[type="password"]:focus {
  transition: var(--transition-time);
  background-color: var(--svetle-modra);
}

.reset-pw-container input[type="text"]:not(:focus),
.reset-pw-container input[type="password"]:not(:focus) {
  transition: var(--transition-time);
  background-color: aliceblue;
}

.reset-pw-container input[type="submit"] {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
  cursor: pointer;
  border-radius: 16px;
  width: 50%;
  font-size: 130%;
}

.reset-pw-container input[type="submit"]:hover {
  background-color: black;
  color: aliceblue;
  transition: var(--transition-time);
}

.reset-pw-container input[type="submit"]:not(:hover) {
  background-color: aliceblue;
  color: black;
  transition: var(--transition-time);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--svetle-modra);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.billing-navbar {
  top: 0;
  width: 100%;
  height: 30px;
  background-color: red;
}
